{
 "NetworkModel":{
    "MovementModel":{
	"name":"RandomWalk",
	"MinSpeed":0, 
	"MaxSpeed":10,
	"reflection":1
    },
    "EnviromentModel": {
	"Name":"AreaFixedObstruction",
	"Distribution":"Uniform",
	"TimeExistence":"AllTime"
    },
    "InteractionProtocol":{
	"Name":"PermanentTransmition"
    },
    "DeviceModel": {
	"Name":"Retransceiver",
	"Radius":10	
    },
    "Amount":100,
    "Metrics":[
	{"name":"TimeDelievery"},
	{"name":"TimeConnectivity"},
	{"name":"AmountDeliveredMessage"}
	]
 }
}