{
 "NetworkModel":{  //whole model
    "MovementModel":{  //model for devices movement
	"name":"RandomWalk",
	"MinSpeed":0, 
	"MaxSpeed":10,
	"reflection":1
    },
    "EnviromentModel": { //model for evironment and its affect
	"Name":"AreaFixedObstruction",
	"Distribution":"Uniform",
	"TimeExistence":"AllTime"
    },
    "InteractionProtocol":{ //model for devices communication
	"Name":"PermanentTransmition"
    },
    "DeviceModel": {  //model for devices 
	"Name":"Retransceiver",
	"Radius":10	
    },
    "Amount":100,
    "Metrics":[ //system metrics
	{"name":"TimeDelievery"},
	{"name":"TimeConnectivity"},
	{"name":"AmountDeliveredMessage"}
	]
 }
}
